/* --- GENERIC SELECTIONS --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: lightblue;
  width: 100%;
}



.card, .bgk-white{
  float: left;
}

/* --- CARD SELECTORS --- */
.card {
  background: url("./img/pattern.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  width: 12%;
  margin: 20px 15px;
  height: 180px;
}

.bgk-white {
  width: 12%;
  margin: 20px 15px;
  height: 180px;
  background-color: white;
}

.balloon {
  background-image: url("./img/balloon.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}











/* img {
  vertical-align: middle;
  width: 20px;
} */





organizzo in 4 colonne da tre carte
position absulut o float per affiancare le colonne
position per piazzare il testo delle carte sopra
