/* --- DOMANDE --- */
/* immagine hidden con :hover perche non funziona? */
/* come faccio a non dimensionare le carte in pixel? */
/* ma il testo si può fare scalare con una dimensione minima? */

/* --- GENERIC SELECTIONS --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: lightblue;
  width: 100%;
  font-family: 'Potta One', cursive;
}

.container {
  margin: 60px auto;
  width: 80%;
}

.card {
  float: left;
}

/* ---HEADER --- */
h1 {
  color: white;
  font-size: 4em;
  text-align: center;
}

/* --- CARD SELECTORS --- */
.card {
  background: url("./img/pattern.png");
  background-position: center;
  background-size: cover;
  width: 225px;
  height: 300px;
  margin: 20px 15px;
  border-radius: 20px;
}

.first-img {
  background: none;
  background-color: white;
}


img {
  width: 100%;
  background-color: white;
  margin-top: 10px
}

h3 {
  text-align: center;
  margin-top: 15px;
  font-size: 1.5em;
}

.card:hover {
  visibility: visible;
}

#purple {
  color: purple;
}

#orange {
  color: orange;
}

/* --- FOOTER --- */
h4 {
  text-align: center;
}
